<div class="wrapper">
    <div class="navbar container">
        <a id="author-name" class="alignable pull-left" href="{{ site.url }}">{{ site.title }}</a>
        <ul id="navlist" class="alignable pull-right navbar-ul">
            {% for x in site.nav %}
                <li class="alignable pull-left nav-list"><a href="{{ x.link }}">{{ x.name }}</a></li>
                {% unless forloop.last %}<li class="alignable pull-left nav-list">/</li>{% endunless %}
            {% endfor %}
        </ul>
    </div>
    <div style="clear:both"></div>
</div>
<hr>
