<div class="navbar container">
    <a id="author-name" class="alignable pull-left" href="{{ site.url }}">{{ site.title }}</a>
    <div class="alignable pull-right header-icons" style="display: flex; align-items: center; gap: 16px; padding: 4px 0;">
        <a href="https://www.linkedin.com/in/yoshifumi-hanada/"><img src="/assets/linkedin.svg" alt="LinkedIn" width="16" height="16"></a>
        <a href="https://github.com/nonotoy"><img src="/assets/github.svg" alt="GitHub" width="16" height="16"></a>
        <a href="https://x.com/nonotoy01"><img src="/assets/twitter.svg" alt="Twitter" width="16" height="16"></a>
        <a href="https://orcid.org/0009-0000-8147-1477"><img src="/assets/orcid.svg" alt="ORCID" width="16" height="16"></a>
        <a href="https://researchmap.jp/yhanada"><img src="/assets/researchmap.svg" alt="researchmap" width="16" height="16"></a>
    </div>
</div>
<div style="clear:both"></div>
<hr>
