<header class="site-header container">
    <a id="author-name" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="header-icons">
        <a href="https://www.linkedin.com/in/yoshifumi-hanada/" aria-label="LinkedIn"><img src="{{ '/assets/linkedin.svg' | relative_url }}" alt="LinkedIn" width="16" height="16"></a>
        <a href="https://github.com/nonotoy" aria-label="GitHub"><img src="{{ '/assets/github.svg' | relative_url }}" alt="GitHub" width="16" height="16"></a>
        <a href="https://x.com/nonotoy01" aria-label="Twitter"><img src="{{ '/assets/twitter.svg' | relative_url }}" alt="Twitter" width="16" height="16"></a>
        <a href="https://orcid.org/0009-0000-8147-1477" aria-label="ORCID"><img src="{{ '/assets/orcid.svg' | relative_url }}" alt="ORCID" width="16" height="16"></a>
        <a href="https://researchmap.jp/yhanada" aria-label="researchmap"><img src="{{ '/assets/researchmap.svg' | relative_url }}" alt="researchmap" width="16" height="16"></a>
    </nav>
</header>
